{
  "scripts": {
    <%if (commitlint['standard-version']) {%>
    "sv": "standard-version --dry-run"<%}%>
  },
  "devDependencies": {
    <%if (commitlint['commitlint']) {%>
    "@commitlint/cli": "^18.2.0",
    "@commitlint/config-conventional": "^18.1.0"<%}%>
    <%if (commitlint['standard-version']) {%>
    "standard-version": "^9.3.2"<%}%>
  }
}
