{
  "scripts": {
    "lint-eslint": "eslint . --ext .cjs,.js,.ts --fix --cache --cache-location node_modules/.cache/eslint/",
    "lint": "pnpm lint-eslint<%if (prettier) {%> && pnpm lint-prettier<%}%>"
  },
  "devDependencies": {
    "eslint": "^8.43.0"<%if (prettier) {%> ,
    "eslint-config-prettier": "^8.8.0",
    "eslint-plugin-prettier": "^4.2.1"<%}%>
  }
}